{% extends "app/base.html" %}

{% load static %}

{% block content %}
<!-- <div class="home-background"> -->
<header>
  <div id="menu-bar" class="menu">
    <div id="menu-center">
      <ul>
        <li><a class="active" href="#home">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#works">WORKS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</header>

<article class="color">

  <section id="home" class="top center font-white">
      <h1 class="title">{{ profile_data.title }}</h1>
      <p class="subtitle">{{ profile_data.subtitle }}</p>
  </section>

  <section id="about" class="about center font-white">
    <h2 class="navigation-font-size">ABOUT</h2>
      <img class="img-profile" src="{% static 'img/profile_django_portfolio.jpg' %}">
      <p class="messages-font-size">{{ profile_data.introduction|linebreaksbr }}</p>
  </section>

  <section id="skills" class="skill center font-white">
    <h2 class="navigation-font-size">SKILLS</h2>
      <div class="skill-itms-one messages-font-size">
        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/html_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">HTML</div>
          <div class="star-rating">
            <div class="html-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>

        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/css_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">CSS</div>
          <div class="star-rating">
            <div class="css-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>

        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/js_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">JavaScript</div>
          <div class="star-rating">
            <div class="javaccript-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>
      </div>

      <div class="skill-itms-two messages-font-size">
        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/python_django_portfolio.jpg' %}"  height="102" hspace="50">
          <div class="language">Python</div>
          <div class="star-rating">
            <div class="python-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>

        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/dj_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">Django</div>
          <div class="star-rating">
            <div class="django-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>
      </div>

      <div class="skill-itms-three messages-font-size">
        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/basketball_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">basketball</div>
          <div class="star-rating">
            <div class="basketball-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>

        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/patissier_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">patissier</div>
          <div class="star-rating">
            <div class="patissier-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>

        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/business_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">営業</div>
          <div class="star-rating">
            <div class="business-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>

        <div class="skill-item">
          <img class="skill-box" src="{% static 'img/childcare_django_portfolio.jpg' %}"  height="100" hspace="50">
          <div class="language">育児</div>
          <div class="star-rating">
            <div class="childcare-star-rating-front">★★★★★</div>
            <div class="star-rating-back">☆☆☆☆☆</div>
          </div>
        </div>
      </div>

  </section>

  <section id="works" class="works center font-black">
    <div class="container">
      <h2 class="navigation-font-size">WORKS</h2>
        <div class="works-itms-one">
        <div class="row mb-5">
          {% for work in work_data %}
              <div class="col-6 col-md-3 mb-3 mt-sm-4">
                  <div class="card work-thumbnail">
                      {% if work.thumbnail %}
                          <img class="work-img" src="{{ work.thumbnail.url }}" alt="">
                      {% else %}
                          <img class="work-img" src="{{ work.image.url }}" alt="">
                      {% endif %}
                      <div class="work-title text-center">
                          <p class="mb-0">{{ work.title }}</p>
                      </div>
                      <a class="stretched-link work" href=""></a>
                  </div>
              </div>
          {% endfor %}
      </div>
      </div>
    </div>

  </section>

  <section id="contact" class="contact font-white contact-height">
    <h2 class="navigation-font-size">CONTACT</h2>
      <p class="contact-comment messages-font-size">{{ profile_data.contact|linebreaksbr }}</p>
      <a href="{% url 'contact' %}" target="_self" class="contact-messages"><i class="fas fa-envelope"> MESSAGE ME</i></a>
  </section>

  <div class="fabs">
    <a id="icon-github" href="GitHubリンク" target="_blank" class="fab" tooltip="Git Hub"><i class="fab fa-github fa-2x"></i></a>
    <a id="icon-twitter" href="twitterリンク" target="_blank" class="fab" tooltip="Twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a id="icon-facebook" href="facebookリンク" target="_blank" class="fab" tooltip="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
    <div id="icon-share" class="fab" ><i class="fas fa-share-alt-square fa-3x"></i></div>
  </div>

</article>
<!-- </div> -->
{% endblock %}